profiles {
	    standard {
        	process.executor = 'local'
        	process.maxForks = 3
        	singularity.enabled = false
        	docker.enabled = true
        }
        
        sge {
			process.executor = 'sge'
			process.penv = 'smp'
			process.queue = 'public.q'
			process.cpus = '4'
    		process.memory = '5.GB'
    	}
    	
    	slurm {
 			process {
 			
    			executor = 'slurm'
    			clusterOptions = '--qos=short'
    			cpus = '2'
    			memory = { 4.GB * task.attempt }
    			
    		}
    		
    		includeConfig 'config/indexLocations.config'
  		}
  		
  		awsbatch {
	        aws.region = 'eu-central-1'
	        aws.client.storageEncryption = 'AES256'
	        process.queue = { task.attempt > 1 ? 'awsconvertexcess' : 'awsconvertworkload' }
	        executor.name = 'awsbatch'
	        executor.awscli = '/home/ec2-user/miniconda/bin/aws'
	        singularity.enabled = false
	        docker.enabled = true
	        process.publishDir = [
    			[path: 's3://obenauflab/results', mode: 'copy', overwrite: 'true', pattern: "*fq.gz"],
  			]
    	}

}

cloud {
	imageId = 'ami-0f99d00928be3a282'
    instanceType = 't2.micro'
    userName = 'ec2-user'
    keyFile = '~/aws/awsbatch.pem'
}

process {

	publishDir = [
    	[path: './results', mode: 'copy', overwrite: 'true', pattern: "*fq.gz"],
  	]

	errorStrategy = 'retry'
	maxRetries = 3
	maxForks = 100

	cpus = 4
	memory = { 4.GB * task.attempt }

    withName:bamToFastq {
        container = 'quay.io/biocontainers/samtools:1.9--h8ee4bcc_1'
    }
}

timeline {
	enabled = true
}

report {
	enabled = true
}

singularity {
	enabled = true
}