profiles {
	    standard {
        	process.executor = 'local'
        	process.maxForks = 3
        	singularity.enabled = false
        	docker.enabled = true
        }
        
        sge {
			process.executor = 'sge'
			process.penv = 'smp'
			process.queue = 'public.q'
			process.cpus = '5'
    		process.memory = '10.GB'
    	}
    	
    	slurm {
 			process {
 			
    			executor = 'slurm'
    			clusterOptions = '--qos=short'
    			cpus = '4'
    			memory = '5.GB'
    			
    		}
    		
    		includeConfig 'config/indexLocations.config'
  		}

}

process {

	publishDir = [
    	[path: './results', mode: 'copy', overwrite: 'true', pattern: "*fq.gz"],
  	]

	errorStrategy = 'retry'
	maxRetries = 3
	maxForks = 20

	cpus = 1
	memory = { 10.GB * task.attempt }

    withName:bamToFastq {
        container = 'docker://quay.io/biocontainers/samtools:1.7--2'
    }
}

timeline {
	enabled = true
}

singularity {
	enabled = true
}
