aws.region = 'eu-central-1'
aws.client.storageEncryption = 'AES256'
executor.name = 'awsbatch'
executor.awscli = '/home/ec2-user/miniconda/bin/aws'

process {

	publishDir = [
		[path: 's3://obenauflab/results', mode: 'copy', overwrite: 'true', pattern: "*fq.gz"],
	]
	queue = { task.attempt > 1 ? 'awsconvertexcess' : 'awsconvertworkload' }
	cpus = 12 
	//process.memory = { task.attempt > 1 ? 7590.MB : 3670.MB }
	
    withName:centrifugePaVE {
        memory = { 40.GB * task.attempt }
    }
    
    withName:centrifugeRefSeq {
        memory = { 40.GB * task.attempt }
    }
    withName:centrifugeENA {
        memory = { 80.GB * task.attempt }
    }
}

params {

   PaVEIndex = '/groups/obenauf/Software/indices/virus/Centrifuge/centrifuge/PaVE/obenauf_PaVE_index'
   refseqIndex = '/groups/obenauf/Software/indices/virus/Centrifuge/centrifuge/custom/obenauf_plain_index'
   ENAIndex = '/groups/obenauf/Software/indices/virus/Centrifuge/centrifuge/ENA/obenauf_ENA_index'

}