aws.region = 'eu-central-1'
aws.client.storageEncryption = 'AES256'
executor.name = 'awsbatch'
executor.awscli = '/home/ec2-user/miniconda/bin/aws'

process {
	
    withName:centrifugePaVE {
    	queue = { task.attempt > 1 ? 'awsconvertexcess' : 'awsconvertworkload' }
    	memory = { task.attempt > 1 ? 7590.MB : 3670.MB }	
        cpus = { task.attempt > 1 ? 4 : 2 }
    }
    
    withName:centrifugeENA {
        queue = { task.attempt > 1 ? 'awsCentrifugeENAExcess' : 'awsCentrifugeENAWorkload' }
    	memory = { task.attempt > 1 ? 31100.MB : 15400.MB }	
        cpus = { task.attempt > 1 ? 16 : 8 }
    }
    
    withName:centrifugeRefSeq {
        queue = { task.attempt > 1 ? 'awsCentrifugeRefseqExcess' : 'awsCentrifugeENAExcess' }
    	memory = { task.attempt > 1 ? 70300.MB : 31100.MB }	
        cpus = { task.attempt > 1 ? 36 : 16 }
    }

}

params {

   PaVEIndex = 's3://obenauflab/indices/centrifuge/PaVE/obenauf_PaVE_index'
   refseqIndex = 's3://obenauflab/indices/centrifuge/refseq/obenauf_plain_index'
   ENAIndex = 's3://obenauflab/indices/centrifuge/ENA/obenauf_ENA_index'

}