docker {
    enabled = true
}

process {
    // Process-specific docker containers
    withName:centrifugePaVE {
        container = 'docker://obenauflab/virusintegration:latest'
    }
    
    withName:centrifugeRefSeq {
        container = 'docker://obenauflab/virusintegration:latest'
    }
    withName:centrifugeENA {
        container = 'docker://obenauflab/virusintegration:latest'
    }
}