docker {
    enabled = true
}

process {
    // Process-specific docker containers

    withName:centrifugeMatchExtraction {
        container = 'obenauflab/virusintegration:latest'
    }

    withName:bwa {
        container = 'obenauflab/virusintegration:latest'
    }

    withName:manta {
        container = 'obenauflab/strelka:latest'
    }
}
