docker {
    enabled = true
}

process {
    // Process-specific docker containers
    withName: bamToFastq {
        container = 'quay.io/biocontainers/samtools:1.9--h8ee4bcc_1'
    }

    withName: transdecoder {
        container = 'quay.io/biocontainers/transdecoder:5.5.0--pl526_2'
    }

    withLabel: trinity {
        container = 'trinityrnaseq/trinityrnaseq:2.8.4'
    }

    withLabel: trinotate {
        container = 'quay.io/biocontainers/trinotate:3.2.1--pl526_0'
    }
}
