params {

   outputDir = './results'
}

process {

	publishDir = [
    	[path: params.outputDir, mode: 'copy', overwrite: 'true', pattern: "*trinity.fa"],
  	]

	errorStrategy = 'retry'
	maxRetries = 3
	maxForks = 100

}


cloud {
	imageId = 'ami-0f99d00928be3a282'
    instanceType = 't2.micro'
    userName = 'ec2-user'
    keyFile = '~/aws/awsbatch.pem'
}


timeline {
	enabled = true
}

report {
	enabled = true
}
