params {

   PaVEIndex = '/groups/obenauf/Software/indices/virus/Centrifuge/centrifuge/PaVE/obenauf_PaVE_index'
   refseqIndex = '/groups/obenauf/Software/indices/virus/Centrifuge/centrifuge/custom/obenauf_plain_index'
   ENAIndex = '/groups/obenauf/Software/indices/virus/Centrifuge/centrifuge/ENA/obenauf_ENA_index'
   outputDir = './results'

}

process {

	publishDir = [
    	[path: params.outputDir, mode: 'copy', overwrite: 'true', pattern: "*centrifuge_report.tsv"],
    	[path: params.outputDir, mode: 'copy', overwrite: 'true', pattern: "*kreport.out"]
  	]

	errorStrategy = 'retry'
	maxRetries = 3
	maxForks = 100

}


cloud {
	imageId = 'ami-0f99d00928be3a282'
    instanceType = 't2.micro'
    userName = 'ec2-user'
    keyFile = '~/aws/awsbatch.pem'
}


timeline {
	enabled = true
}

report {
	enabled = true
}