singularity {
	enabled = true
}

docker {
	enabled = false
}

process {

   executor = 'slurm'

	 withName:bamToFastq {
	    clusterOptions = '--account=obenauf.grp --qos=short'
			cpus = '8'
			memory = { 4.GB * task.attempt }
	 }

	 withName:trinity {
			clusterOptions = '--account=obenauf.grp --qos=short'
			cpus = '28'
			memory = { 64.GB * task.attempt }
	 }
}

params {

   STARFusionIndex = '/groups/obenauf/Software/STAR-Fusion-v1.3.1/GRCh38_v27_CTAT_lib_Feb092018/ctat_genome_lib_build_dir/'

}
