singularity {
	enabled = true
}

docker {
	enabled = false
}

process {

   executor = 'slurm'

	 withName:bamToFastq {
	    clusterOptions = '--account=obenauf.grp --qos=short'
			cpus = '8'
			memory = { 4.GB * task.attempt }
	 }

	 withName:trinity {
			clusterOptions = '--account=obenauf.grp --qos=short'
			cpus = '28'
			memory = { 64.GB * task.attempt }
	 }
}
