singularity {
	enabled = true
}

docker {
	enabled = false
}

process {

   executor = 'slurm'
   clusterOptions = '--qos=short --account=obenauf.grp'
   cpus = '12'

   withName:centrifugeMatchExtraction {
     memory = { 5.GB * task.attempt }
   }

   withName:bwa {
     memory = { 50.GB * task.attempt }
   }

   withName:manta {
     memory = { 5.GB * task.attempt }
   }

}

params {

   centrifugePaVEIndex = '/groups/obenauf/Software/indices/virus/Centrifuge/centrifuge/PaVE/virus-detection-nf/'
   centrifugeRefSeqIndex = '/groups/obenauf/Software/indices/virus/Centrifuge/centrifuge/custom/virus-detection-nf/'
	 centrifugeENAIndex = '/groups/obenauf/Software/indices/virus/Centrifuge/centrifuge/ENA/virus-detection-nf/'

   BWAPaVEIndex = '/groups/obenauf/Software/indices/virus/Centrifuge/bwa/PaVE/'
	 BWARefSeqIndex = '/groups/obenauf/Software/indices/virus/Centrifuge/bwa/RefSeq/'
   BWAENAIndex = '/groups/obenauf/Software/indices/virus/Centrifuge/bwa/ENA/'

	 mantaConfig = '/groups/obenauf/Software/indices/virus/Centrifuge/bwa/configManta.py.ini'

}
